.DS_Store
EcoCollageVisionSample/.dropbox

EcoCollageVisionSample/.DS_Store

EcoCollageVisionSample/Icon

EcoCollageVisionSample/ecocollagevision/bin/Debug/.picasa.ini

EcoCollageVisionSample/ecocollagevision/ecocollagevision (Tia Shelley's conflicted copy 2011-07-01).depend

EcoCollageVisionSample/ecocollagevision/ecocollagevision (Tia Shelley's conflicted copy 2011-07-05).depend

EcoCollageVisionSample/ecocollagevision/ecocollagevision (Tia Shelley's conflicted copy 2011-08-19).layout

EcoCollageVisionSample/ecocollagevision/ecocollagevision.depend

EcoCollageVisionSample/ecocollagevision/obj/Debug/facedetect (Tia Shelley's conflicted copy 2011-07-05).o

EcoCollageVisionSample/facedetect (Tia Shelley's conflicted copy 2011-07-05).cpp

workspace2/workspace2/EcoCollage/.DS_Store
